<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ValidateServlet</servlet-name>
  	<display-name>ValidateServlet</display-name>
  	<description></description>
  	<servlet-class>org.app.controller.ValidateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VendorController</servlet-name>
  	<display-name>VendorController</display-name>
  	<description></description>
  	<servlet-class>org.app.controller.VendorController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteVendor</servlet-name>
  	<display-name>DeleteVendor</display-name>
  	<description></description>
  	<servlet-class>org.app.controller.DeleteVendor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateVendor</servlet-name>
  	<display-name>UpdateVendor</display-name>
  	<description></description>
  	<servlet-class>org.app.controller.UpdateVendor</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ValidateServlet</servlet-name>
  	<url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VendorController</servlet-name>
  	<url-pattern>/savevendor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteVendor</servlet-name>
  	<url-pattern>/delvend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateVendor</servlet-name>
  	<url-pattern>/updatevendor</url-pattern>
  </servlet-mapping>
</web-app>
